@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes dotRun {
  0%   { top: 0; left: 0; }
  25%  { top: 0; left: 100%; transform: translateX(-100%); }
  50%  { top: 100%; left: 100%; transform: translate(-100%, -100%); }
  75%  { top: 100%; left: 0; transform: translateY(-100%); }
  100% { top: 0; left: 0; transform: translate(0, 0); }
}

.animate-dot-run {
  animation: dotRun 5s linear infinite;
}
