name: Deploy Backend (URL SHORTNER)

on:
  push:
    branches:
      - main
    paths:
      - "backend/**" # Only run if backend folder changes
      - "!frontend/**" # Ignore frontend changes

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: backend
        run: npm install

      - name: Build (if needed)
        working-directory: backend
        run: npm run build --if-present

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: urlShortnerBackend
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: backend
